body{
    background-image: url(diggs\ standing\ like\ idot.jfif);
    color: aliceblue;
}
main{
    background-color: gray;
}
body{
    background-color: burlywood;
}
#aarongettingsmacked{
    width: 300px;
    margin-left: 340px;
}
header{
    background-color: gray;
}
